$default: #000000;
$pink: #FF91C9;
$ltpink: #FFC7E3;
$xtraltpink: #FFDAEC;
$drkpink: #FE62B1;

$link:	#34344D;

$grey: #7D7D7D;
$ltgrey: #A5A4A4;
$drkgrey: #2A2A2A;
$black: #030303;

$grey2: #7A7878;
$ltgrey2: #D1D0D0;
$xtraltgrey: #FFFEFE;
$drkgrey2: #494646;