

nav {
	display: inline-block;
	width: 100%;
	padding-top: 7px;
	text-transform: uppercase;
	margin: 0 auto;
	float: none;
	text-align: center;

}

nav {
	ul {
		margin: 0 auto;
		display: inline-block;

	}
		li {
			display: inline-block;
			float: none;
				a {
					text-decoration: none;
					margin-right: 10px;
				}
	}
}
